name: Connection tests

on:
  schedule:
    - cron: '*/5 * * * *'
 # push:
  #  branches:
   #   - main

jobs:
  connection-tests:
    runs-on: ubuntu-latest
    
    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.BOT_TOKEN }}

      - name: Setup
        uses: denolib/setup-deno@v2

      - name: Additional setup
        run: |
          sudo apt-get install nmap
          sudo npm -g install svgo
          git config --local user.email "email-roboter@figuren.theater"
          git config --local user.name "figuren-theater-bot"

      - name: Perform connection tests
        run: deno run --allow-net --allow-read --allow-write --allow-run --unstable source/tests.ts

      - name: Update Timestamp
        run: |
          current_date=$(date +"%Y-%m-%d %H:%M:%S")
          sed -i "s|<span id=\"last-updated\">[^<]*</span>|<span id=\"last-updated\">Updated: $current_date</span>|" index.html

      - name: Optimize and commit results
        run: |
          npx svgo --multipass -f status
          git pull --ff-only --quiet
          git add static/site hosts status README.md index.html
          git commit -m "Update connection status"
          git push
